// Lendo Theme Colors
$lendo-light-blue: #e4e9ef;
$lendo-blue: #2365e8;
$lendo-dark-blue: #15162A;
$lendo-light-gray : #F8F8F8;
$lendo-light-gray-300 : #dee2e6;
$lendo-gray : #53585E;
$custom-colors: (
    "lendo-primary": $lendo-dark-blue,
    );
    
    